body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1, h4, p, .navbar-brand, .nav-link, .card-title, .card-text, .card-links span {
    font-family: 'Noto Sans KR', sans-serif;
}


.font-sample-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-sample-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-sample-lobster {
    font-family: 'Lobster', cursive;
}

.font-sample-pacifico {
    font-family: 'Pacifico', cursive;
}