html, body {
    height: 100%;
    margin: 0;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

.footer {
    height: 100px; /* 고정된 높이 */
    background-color: #343a40;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}